{% extends 'session.html'%}{% block content %}

<!-- ======= Dashboard Section ======= -->
<section id="background" class="d-flex align-items-center">
    <!-- Begin Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-3" style="margin-top: 80px;">
                <div class="flex mb-4">
                    <h2 class="active">Dashboard</h2>
                </div>
                <div class="flex mb-4">
                    <h2 class="sidebar">Account Settings</h2>
                </div>
                <div class="flex mb-4">
                    <h2 class="sidebar">Exercises</h2>
                </div>
                <div class="flex mb-4">
                    <h2 class="sidebar">Today</h2>
                </div>
                <div class="flex mb-4">
                    <h2 class="sidebar">History</h2>
                </div>
                
            </div>
            <div class="col">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h3 class="h3 mb-0 text-gray-800">Today's Progress</h3>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>
    
            <!-- Content Row -->
            <div class="row">
    
                <!-- Exercise 1 -->
                <div class="col mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1 card-title">Side Bend
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                    style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                            <a href="/select/1" class="btn-exercise scrollto">START</a>
                        </div>
                    </div>
                </div>
    
                <!-- Exercise 2 -->
                <div class="col mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1 card-title">Bicep Curl
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">25%</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                    style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                            <a href="/select/2" class="btn-exercise scrollto">START</a>
                        </div>
                    </div>
                </div>
    
                 <!-- Exercise 3 -->
                <div class="col mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1 card-title">Leg Raise
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">90%</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                    style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                            <a href="/select/3" class="btn-exercise scrollto">START</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-sm-flex align-items-center justify-content-between mb-2">
                <a href="#"><p class="show-more">View more exercises</p></a>
            </div>

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h3 class="h3 mb-0 text-gray-800">Here's your progress this week</h3>
            </div>
    
            <!-- Area Chart -->
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Progress Chart
                            </div>
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h3 mb-0 text-gray-800">Recent Activities</h3>
                    </div>
                </div>
                <div class="col">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h3 class="h3 mb-0 text-gray-800">Contact</h3>
                    </div>
                </div>
            </div>
    
            <!-- Content Row -->
            <div class="row">
                <div class="col-lg-9 mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar">Chris just completed his weekly goal! </div>
                            <br>
                            <div><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar">Bob just completed his weekly goal! </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar">Chris</div>
                            <br>
                            <div><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar">Bob</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h3 class="h3 mb-0 text-gray-800">Achievements</h3>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div><img src="{{ url_for('static', filename='img/circle.png') }}" class="avatar" alt="Avatar">Complete 5 exercises</div>
                            <br>
                            <div><img src="{{ url_for('static', filename='img/circle.png') }}" class="avatar" alt="Avatar">Complete your first exercise</div>
                            <br>
                            <div><img src="{{ url_for('static', filename='img/circle.png') }}" class="avatar" alt="Avatar">Complete all daily exercises</div>
                        </div>
                    </div>
                </div>
            </div>
            
    
        </div>
        
        

    </div>
    <!-- /.container-fluid -->
</section>

{% endblock %}